{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 200,
  "singleQuote": true,
  "quoteProps": "preserve",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
